FINNHUB_API_KEY=
DATABRICKS_HOST=
DATABRICKS_TOKEN=
DATABRICKS_VOLUME_PATH=/Volumes/market_pipeline/landing/trades_raw
DATABRICKS_REFERENCE_VOLUME_PATH=/Volumes/market_pipeline/landing/reference
SYMBOLS=VOO,VT,AAPL,MSFT,GOOGL,AMZN,NVDA,TSLA,META
FLUSH_INTERVAL_SECONDS=60